.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(252, 187, 109);
}

.up {
  background: greenyellow !important;
}

.up h2 {
  background-color: grey;

  font-size: 50px;

  display: flex;
  justify-content: center;
}

.thumbup {
  color: gray;
  font-size: 150px !important;
  cursor: pointer;
  padding: 20px;
}

.app h2 {
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.thumbdown {
  color: brown;
  font-size: 150px !important;
  cursor: pointer;
  padding: 20px;
}

/* button {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
} */
