.app {
  padding: 250px;

  display: flex;
  align-items: center;
}

.like {
  /*   color: red; */
  font-size: 150px !important;
  cursor: pointer;
}
button {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
}
